@import "../../assets/mixins/mixins.scss";

.container {
    @include flexCenter();
    gap: 30px;
    width: 100%;
    padding: 60px 0;
    position: relative;
    @media screen and (max-width: 1750px) {
        flex-direction: column;
    }
    .bg_wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        background: url("../../assets/images/bgSec.png");
        z-index: -1;
    }
    .top {
        @include flexCenter();
        gap: 50px;
        @media screen and (max-width: 800px) {
            flex-direction: column;
        }
        @media screen and (max-width: 500px) {
            gap: 20px;
        }
    }
    .bottom {
        @include flexCenter();
        gap: 50px;
        @media screen and (max-width: 800px) {
            flex-direction: column;
        }
        @media screen and (max-width: 500px) {
            gap: 20px;
        }

        .image {
            mask-image: url("../../assets/svg/surenPhotoFramer.svg");
            left: -30px;
            @media screen and (max-width: 500px) {
                left: 0;
            }
        }
        .svg_wrapper {
            transform: scaleX(-1);
        }
    }
    .info_wrapper {
        @include flColCenter();
        gap: 20px;
        & > h3 {
            font-size: 40px;
            font-weight: 400;
            color: #101010;
            text-align: center;
        }
        & > p {
            color: #5c5c5c;
            font-size: 18px;
            text-align: center;
        }
    }
    .social_wrapper {
        @include flexCenter();
        gap: 20px;
        & > a {
            color: #657150;
            text-decoration: none;
            font-size: 25px;
        }
    }
    .svg_wrapper {
        position: relative;
        & > svg {
            @media screen and (max-width: 900px) {
                width: 100%;
                height: 100%;
            }
        }
        @media screen and (max-width: 900px) {
            width: 300px;
            height: 260px;
        }
    }
}

.image_wrapper {
    @include flexCenter();
    position: relative;
    @media screen and (max-width: 900px) {
        width: 352px;
        height: 300px;
    }
    @media screen and (max-width: 500px) {
        width: 300px;
        height: 270px;
    }
    .image {
        width: 514px;
        height: 458px;
        position: absolute;
        mask-image: url("../../assets/svg/framerForMari.svg");
        mask-size: contain;
        mask-repeat: no-repeat;
        top: 0;
        right: 0px;
        @media screen and (max-width: 900px) {
            width: 300px;
            height: 248px;
        }
        & > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 60% 90%;
        }
    }
}
