@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Sail&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    font-family: "Sail", system-ui;
}

p,
span,
a,
button,
input {
    font-family: "Jost", sans-serif;
}
